<!-- Auth tabs -->
<div class="container specks-nav mt-4">
  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <button mat-raised-button color="accent" class="p-0">
        <a class="d-flex justify-content-center breze-cl" routerLink="/auth/signin">Signin</a>
      </button>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <button mat-raised-button color="accent" class="p-0">
        <a class="d-flex justify-content-center breze-cl" routerLink="/auth/signup">Signup</a>
      </button>
    </div>
  </div>
</div>
<!-- Auth tabs -->

<!-- View -->
<router-outlet></router-outlet>
<!-- View -->
