<!-- Menu -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <button mat-raised-button color="accent"  [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
        <button mat-menu-item routerLink="/dashboard/profile" routerLinkActive="active">Profile</button>
        <button mat-menu-item routerLink="/dashboard/play" routerLinkActive="active">Play</button>
        <button mat-menu-item routerLink="/dashboard/records" routerLinkActive="active">Records</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</div>
<!-- Menu -->
